.label-white {
	-fx-text-fill: #f1fafe;
}

.content-pane {
	-fx-background-color: #00aace;
}

.side-pane {
	-fx-background-color: #e6002b;
}

.vbox-dialog-box {
	-fx-background-color: #e6002b;
}

.button, .color-picker {
	-fx-background-color: #f1fafe;
	-fx-background-radius: 5;
	-fx-background-insets: 0,1,2;
	-fx-text-fill: black;
}

.button:hover, .color-picker:hover {
	-fx-background-color: #c1cace;
	-fx-background-radius: 5;
	-fx-background-insets: 0,1,2; 
	-fx-text-fill: black;
}

.button:pressed, .color-picker:pressed {
	-fx-background-color: #919a9e;
	-fx-background-radius: 5;
	-fx-background-insets: 0,1,2;
	-fx-text-fill: black;
}

.menu-bar {
	-fx-background-color: #8130a6;
	-fx-text-fill: black;
}

.menu .label {
	-fx-text-fill: white;
}

.menu:hover {
	-fx-background-color: #d31668;
}

.menu:showing {
	-fx-background-color: #d31668;
}

.menu-item .label {
	-fx-text-fill: black;
}

.menu-item:focused {
	-fx-background-color: #d31668;
}

.scroll-pane-side {
	-fx-border-color: #e6002b;
	-fx-background-color: #e6002b;
}

.scroll-pane-side .viewport {
	-fx-border-color: #e6002b;
	-fx-background-color: #e6002b;
}

.tranparent-pane {
	-fx-background-color: transparent;
}

.text-area-sidebar {
	-fx-text-fill: white;
	-fx-background-color: transparent, transparent, white, transparent;
}

.text-area-sidebar .content {
	-fx-background-color: #e6002b;
	-fx-background-color: transparent, transparent, white, #e6002b;
}

.table-view {
   -fx-background-color: transparent;
   -fx-control-inner-background: white;
   -fx-control-inner-background-alt: whitesmoke;
   -fx-selection-bar: #8130a6;
   -fx-background-insets: 0, 0 0 1 0;
   -fx-padding: 0.0em;
}

.table-view .table-cell {
    -fx-text-fill: black;
}

.table-row-cell {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #d31668;
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.text-area-dialog {
	-fx-text-fill: white;
}

.titled-pane {
	-fx-text-fill: black;
}

.titled-pane .title {
	-fx-background-color: #00aace;
}

.titled-pane .content {
	-fx-background-color: #e6002b;
}

.scroll-pane .corner {
	-fx-background-color: transparent;
}

.scroll-bar {
	-fx-background-color: transparent;
}

.scroll-bar:vertical .thumb, .scroll-bar:horizontal .thumb {
	-fx-background-color: #e6002b;
}

.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button, .scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
	-fx-background-color: transparent;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:vertical .increment-arrow, .scroll-bar:horizontal .decrement-arrow, .scroll-bar:vertical .decrement-arrow {
	-fx-background-color: #e6002b;
}