.jar
.pyc
.DS_Store
.DS_Store?
._*
__pycache__/
*.py[cod]
.class
/.gradle/
/gui/.gradle/
/TBI-GUI/.gradle/
/TBI-GUI/build/
/TBI-GUI/build.number
/.metadata/
.metadata/
.recommenders/
.gradle
/TBI-GUI/src/resources/patients/
